:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	background-color: #ffffff;
}

html,
body,
.container,
#root {
	height: 100%;
	overflow: hidden;
}

.canvas,
svg {
	/* height: 100%; */
	/* min-height: 660px; */
}

.canvas {
	border: 1px solid #efefef !important;
	margin: 20px;
	margin-left: 80px;
}

#root {
	width: 100%;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	display: flex;
	place-items: center;
}

h1 {
	font-size: 3.2em;
}

h2 {
	padding: 0px;
	margin: 0px;
}

button {
	border-radius: 5px;
	border: none;
	padding: 15px;
	color: #333;
	font-size: 15px;
	font-weight: bold;
	transition: 0.3s;
	font-family: inherit;
	border: 1px solid #f50514;
	background-color: transparent;
	cursor: pointer;
	transition: 0.3s;
}
button:hover {
	border-color: #333;
	background-color: transparent;
}
button:focus,
button:focus-visible {
}

button.close-button {
	background-color: transparent;
	border: 1px solid #333;
	border-radius: 100%;
	width: 30px;
	padding: 0px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	right: 0px;
}

.modal-settings {
	-webkit-box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.31);
	-moz-box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.31);
	box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.31);
	top: 50%;
	left: 50%;
	right: auto;
	bottom: auto;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
}

.container {
	display: flex;
	-webkit-box-align: center !important;
	-ms-flex-align: center !important;
	align-items: center;
}

ul.toolbar {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	border-radius: 5px;
	border: 1px solid #efefef;
	font-size: 25px;
	position: absolute;
	left: 0px;
	-webkit-box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.31);
	-moz-box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.31);
	box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.31);
	z-index: 999;
	background-color: #ffffff;
}

ul.toolbar li {
	padding: 5px 16px;
	cursor: pointer;
	transition: 0.3s;
}
ul.toolbar li:first-child {
	padding-top: 15px;
}

ul.toolbar li:last-child {
	padding-bottom: 15px;
}

ul.toolbar li:hover {
	color: #f50514;
}

input[type='number'] {
	font-size: 20px;
	padding: 10px;
	max-width: 100px;
}

.form-container {
	display: flex;
}

.form-container > * {
	flex: 1;
}

.form-group {
	border: 1px solid #efefef;
	padding: 15px;
	border-radius: 5px;
}

.form-group label {
	font-weight: bold;
	display: block;
}

.m-t {
	margin-top: 20px;
}

.m-r {
	margin-right: 20px;
}

.modal-header {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	justify-content: space-between;
}

.disabled {
	opacity: 0.2;
}
.disabled:hover {
	color: #333 !important;
}
image {
	opacity: 0.2 !important;
}

.Toastify__toast-body svg {
	color: #f50514 !important;
}

.filename-display {
	color: #fff;
	background-color: #000;
	padding: 5px 10px;
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 0px;
	border-bottom-right-radius: 5px;
}
.number-wrapper {
	display: flex;
}
.number-wrapper input {
	border-radius: 0px !important;
	border: 1px solid #ccc !important;
	text-align: center;
}
.step-button {
	border: transparent !important;
	background-color: #242424;
	color: #fff;
}
.step-button:hover {
	background-color: #222;
}

.step-button:first-child {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.step-button:last-child {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
